@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
<!-- Chang URLs to wherever Video.js files will be hosted -->
  <link href="@Url.Content("~/video/video-js.css")" rel="stylesheet" type="text/css">
  <!-- video.js must be in the <head> for older IEs to work. -->
  <script src="@Url.Content("~/video/video.js")"></script>

  <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
  <script>
    videojs.options.flash.swf = "video-js.swf";
    
  </script>
   

<div class="container1">
    @*<div class="sliderbox">
        <img src="@Url.Content("~/Content/images/video.jpg")" alt="video"></div>*@
    @*<div class="sliderbox">
        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" 
             poster="@Url.Content("/Content/images/video.jpg")" data-setup="{}">
            <source src="@Url.Content("/video/Explorers+Early+Learning-SD.mp4")" type='video/mp4' />
            <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
            <!-- Tracks need an ending tag thanks to IE9 -->
            <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
        </video>
    </div>*@
    <div class="sliderbox">
            <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" 
             poster="@Url.Content("~/Content/images/video.jpg")" data-setup="{}">
             <source src="@Url.Content("~/video/ExplorersEarlyLearning.mp4")" type='video/mp4' />
            <!--<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />-->
            <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
            <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />-->
            <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
            <!-- Tracks need an ending tag thanks to IE9 -->
            <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
            </video>
            </div>
    <div class="leftpanel">
        <h1>why explorers early learning?</h1>
        <p>The early childhood years (birth to 6 yrs) are regarded as the foundation upon which a child’s life is constructed. From birth, young children develop socially, emotionally, cognitively and physically, acquiring the knowledge, skills and attitudes essential to their ongoing growth and development to adulthood.</p>
        <p>
            The children’s program at Explorers is developed by our early childhood trained staff and reflects our unique philosophy and commitment to the environment and our local community.
                  <a href="#">
                      <img src="@Url.Content("~/Content/images/link_arrow2.png")" alt="link"></a>
        </p>
    </div>

    <div class="rightpanel">
        <h1><a href="/Centres">centres</a> <span>
            <img src="@Url.Content("~/Content/images/link_arrow.png")" alt="arrow"></span></h1>
        <div class="cntr_info">
            <h2>Abbotsford/Richmond</h2>
            <p>3 flockhart street,<br>
                abbotsford</p>
        </div>
        <div class="cntr_info">
            <h2>Maidstone/Maribyrnong</h2>
            <p>Level 1, 50 Hampstead Road,<br/>
                Maidstone  <br/>(Corner of Emu Road)</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
          
<div class="container2">
    <img src="@Url.Content("~/Content/images/bg_container.png")" alt="bg" class="img">
    <div class="container2_inner">
        <h1><a href="/Philosophy">Our Philosophy</a><span><img src="@Url.Content("~/Content/images/link_arrow3.png")" alt="arrow"></span></h1>
        <div class="box1">
            <h2>Our Children</h2>
            <p>
                Children are seen as active participants in creating 
                    their own learning environment within a safe indoor/outdoor 
                    program that fosters their well-being and development.
            </p>
        </div>

        <div class="box1">
            <h2>Our Families</h2>
            <p>
                Families are the primary influence on their child’s 
                    learning and development. Children are given the opportunity to 
                    spend quality time with siblings, family and friends.
            </p>
        </div>

        <div class="box1">
            <h2>Our Staff</h2>
            <p>
                Educators are intentional in their approach to creating 
                    meaningful opportunities for learning.
            </p>
        </div>

        <div class="box1">
            <h2>Our Community</h2>
            <p>
                Exploring the local community allows children to develop 
                    their sense of belonging. The Explorers community is enriched 
                    by celebrating and sharing similarities and differences.
            </p>
        </div>

        <div class="box1">
            <h2>Our Environment</h2>
            <p>
                Children are encouraged to explore their inherent connection 
                    to nature, including dirt, sand and water.
            </p>
        </div>

    </div>
    <img src="@Url.Content("~/Content/images/bg_container2.png")" alt="bg" class="img">
    <div class="clear"></div>
</div>
            
<div class="container3">
    <div class="box1">
        <h1><a href="/Programs">Babies</a></h1>
        <div class="image">
            <img src="@Url.Content("~/Content/images/babies.jpg")" alt="Babies"></div>
        <p>
            Knowing that every child is a unique tag, with individual 
                    needs for rest, food, love and learning, our educators will 
                    quickly become familiar with the children’s routines and cues.
        </p>
        <a href="#" class="link_nxt">
            <img src="@Url.Content("~/Content/images/link_arrow.png")" width="16" height="17" alt="link"></a>
    </div>

    <div class="box1">
        <h1><a href="/Programs">Toddlers</a></h1>
        <div class="image">
            <img src="@Url.Content("~/Content/images/todlers.jpg")" alt="Toddlers"></div>
        <p>
            In the busy world of the toddler, there is so much to learn 
                    and explore. Our learning environments will create a safe space 
                    for toddlers to experiment and discover both the indoor and outdoor 
                    environments.
        </p>
        <a href="#" class="link_nxt">
            <img src="@Url.Content("~/Content/images/link_arrow.png")" width="16" height="17" alt="link"></a>
    </div>

    <div class="box1">
        <h1><a href="/Programs">Kinder</a></h1>
        <div class="image">
            <img src="@Url.Content("~/Content/images/kinders.jpg")" alt="Kinder"></div>
        <p>
            All of our four year old kinder children will have access to 
                    the Explorers Ready Program. The Ready Program is encompassed 
                    within our Kinder Program and focuses on getting children ready - ready for life, for school, 
                    as members of their community.
        </p>

        <a href="#" class="link_nxt">
            <img src="@Url.Content("~/Content/images/link_arrow.png")" width="16" height="17" alt="link"></a>
    </div>
    <div class="clear"></div>
</div>

