@model ExplorersEarlyLearning.Models.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Menu</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PageTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PageTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentMenuId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentMenuId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderIndex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderIndex)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>*@

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MenuId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
