@model ExplorersEarlyLearning.Models.Menu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="common-form" style="display: block;">
        <fieldset>
            <table>
                <tbody>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.Name)
                            @Html.HiddenFor(model => model.MenuId)
                            @Html.HiddenFor(model => model.PageType)
                            @Html.HiddenFor(model => model.CreateDate)
                            @Html.HiddenFor(model => model.ParentMenuId)
                        </th>
                        <td>

                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                            <em class="tip">Name that will appear on the top menu navigation on the screen
                            </em>

                        </td>
                    </tr>


                    <tr>
                        <th>
                            @Html.LabelFor(model => model.PageTitle)
                        </th>
                        <td>
                            @Html.EditorFor(model => model.PageTitle)
                        </td>
                    </tr>


                    <tr>
                        <th>
                            @Html.LabelFor(model => model.OrderIndex)
                        </th>
                        <td>

                            @Html.EditorFor(model => model.OrderIndex)
                        </td>
                    </tr>

                    <tr>
                        <th>
                            @Html.LabelFor(model => model.IsActive)
                        </th>
                        <td>

                            @Html.CheckBoxFor(model => model.IsActive)
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="Edit" />
                        </td>
                    </tr>

                </tbody>
            </table>
        </fieldset>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


