
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/styleAdmin.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/treenode.css")" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/treenode.js")"></script>
</head>
<body>
   @* <header id="header">
        <a title="Back to site manager" href="/Sites/Home/SiteMap" class="logo">
            Explores Early Learning
        </a>

        <ul class="panel">
            <li>
                <a target="_blank" href="#">Manage Task
                </a>
            </li>
            <li><a target="_blank" href="#">Manage Page</a></li>
            <li><a target="_blank" href="#">Manage Configuration</a></li>
        </ul>

        <ul class="quicklinks">

            <li class="last j_DropDown">
                <a>
                    <img src="/Content/Images/invis.gif" class="icon profile" />
                    <span>vipulsinghal</span>
                </a>
                <ul class="j_DropDownContent hide" style="">
                    <li>
                        <a href="/Account/Users/ChangeLanguage?return=%2FSites%2FPage%2FEdit%3FsiteName%3Dvipulsinghal%26repositoryName%3Dvipulsinghal%26UUID%3DArticles%26return%3D%252FSites%252FHome%252FSiteMap%253FsiteName%253Dvipulsinghal%2526repositoryName%253Dvipulsinghal">Change language</a>
                    </li>
                    <li>
                        <a href="/Account/Users/ChangePassword?return=%2FSites%2FPage%2FEdit%3FsiteName%3Dvipulsinghal%26repositoryName%3Dvipulsinghal%26UUID%3DArticles%26return%3D%252FSites%252FHome%252FSiteMap%253FsiteName%253Dvipulsinghal%2526repositoryName%253Dvipulsinghal">Change password</a>
                    </li>
                    <li>
                        <a href="/Account/Logon/SignOut">Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>

    </header>
 *@
    <header id="header">
        <a class="logo" href="/Admin" title="Home">
            Explores Early Learning
        </a>
        @if(WebSecurity.IsAuthenticated){
        <ul class="panel">
            <li class="j_DropDown">
                <a href="/Account/Register">
                    <img class="icon save" src="@Url.Content("/Content/Images/invis.gif")">
                    <img class="icon arrow small white-down" src="@Url.Content("/Content/Images/invis.gif")">
                    Manage Staff
                </a>
              @*  <ul style="" class="j_DropDownContent hide">
                    <li><a data-ajaxform="">Save</a></li>
                    <li><a data-ajaxform="" href="/Sites/Page/Save?siteName=vipulsinghal&amp;repositoryName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal%26repositoryName%3Dvipulsinghal&amp;saveAsDraft=true">Save as draft</a></li>
                </ul>*@
            </li>
            <li><a href="/Admin/Index" target="_blank">
                <img class="icon preview" src="@Url.Content("/Content/Images/invis.gif")">
                Manage Pages</a></li>
            <li><a href="#">
                <img class="icon cancel" src="@Url.Content("/Content/Images/invis.gif")">
                Manage Configuration</a></li>
        </ul>

        <ul class="quicklinks">

            <li class="last j_DropDown">
                <a>
                    <img class="icon profile" src="@Url.Content("/Content/Images/invis.gif")">
                    <img class="icon arrow small white-down" src="@Url.Content("/Content/Images/invis.gif")">
                    @WebSecurity.CurrentUserName
                </a>
                <ul style="" class="j_DropDownContent hide">
                    <li>
                        <a href="/Account/ChangePassword">Change password</a>
                    </li>
                    <li>
                        <a href="/Account/SignOut">Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>
        }
    </header>
    <div style="clear:both;">&nbsp;</div>
    <div id="wrapper">

	<div class="wrapper_inner" >      
        <div class="middle_container" style="margin-left:20px;">
         	@RenderBody()
        </div>
        
<!--- footer start here --->
    </div>
    
</div>

</body>
</html>
