@{
    ViewBag.Title = "Programs";
}


<div class="innerpage">
    <div class="textboxinner">
        <h1>Programs</h1>
        <p>
            The early childhood years (birth to 6 yrs.) are regarded as the foundation upon which a<br>
            child’s life is constructed.
        </p>
        <p>
            From birth, young children develop socially, emotionally, cognitively and physically,<br>
            acquiring the knowledge, skills and attitudes essential to their ongoing growth and development
                   to adulthood.
        </p>
        <p>
            The children’s program is developed by our early childhood trained staff and reflects 
                 Explorer’s unique philosophy and commitment to the environment and our local community.
        </p>
    </div>

    <div class="textboxinner">
        <h1>Explorers Offers</h1>
        <div class="textbox">
            <h1>Emergent Cirriculum <span><img src="@Url.Content("~/Content/images/link_arrow4.png")" alt="arrow"></span></h1>
            <p>
                Supports children to develop research and enquiry skills, using topics and resources 
                    which ‘emerge’ from the children’s interests.
            </p>
        </div>

        <div class="textbox">
            <h1>Early Years Framework<span><img src="@Url.Content("~/Content/images/link_arrow4.png")" alt="arrow"></span></h1>
            <p>Explorers strongly supports Victoria's first Early Year Learning and Development Framework(VEYLDF)</p>
        </div>

        <div class="textbox">
            <h1>An Online Portfolio Method of Planning<span><img src="@Url.Content("~/Content/images/link_arrow4.png")" alt="arrow"></span></h1>
            <p>
                Explores uses online portfolios as a means to create a documental journey of your 
                    child’s learning and<br>
                development experiences that families can view at any time.
            </p>
        </div>

        <div class="textbox">
            <h1>Strong Environmental Focus<span><img src="@Url.Content("~/Content/images/link_arrow4.png")" alt="arrow"></span></h1>
            <p>
                The center also promotes the importance of building positive attitudes toward 
                    sustainable values and nature within the children’s educational program.
            </p>
        </div>

        <div class="textbox">
            <h1>Ready Program for 4 yr old Kinder<span><img src="@Url.Content("~/Content/images/link_arrow4.png")" alt="arrow"></span></h1>
            <p>This program has been designed to develop life skills in preparation for entering primary school.</p>
        </div>

        <div class="textbox">
            <a href="#" class="victoria">
                <img src="@Url.Content("~/Content/images/victoria_img.jpg")" width="100" height="57" alt="victoria"></a>
            <p class="text3">This program has been designed to develop life skills in preparation for entering primary school.</p>
        </div>


    </div>




    <div class="clear"></div>

    <div class="leftcontent">
        <h1>Fundraising with explorers</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi. Aliquam venenatis volutpat 
               aliquam. Nam massa est, tincidunt in mattis sed.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi aliquam. 
               Nam massa est, tincidunt in mattis sed, iaculis ut orci.
        </p>
        <a href="#" class="link_nxt">
            <img src="@Url.Content("~/Content/images/link_arrow.png")" width="16" height="17" alt="link"></a>
    </div>

    @{Html.RenderPartial("ImageGallery");}
</div>
