@model ExplorersEarlyLearning.Models.UserChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword","Account")) {
    @Html.ValidationSummary(true)
    
    if (Model.message != null) { 
        <span style="color:red;font-size:14px;">@Model.message</span>
    }
   
    <div class="common-form" style="display: block;">
        <fieldset>
            <table>
                <tbody>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.UserName)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.UserName)
                            @Html.HiddenFor(model => model.UserName)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.Password)
                        </th>
                        <td>
                            @Html.PasswordFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                     <tr>
                        <th>
                            @Html.LabelFor(model => model.NewPassword)
                        </th>
                        <td>
                            @Html.PasswordFor(model => model.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="Submit" />
                        </td>
                    </tr>

                </tbody>
            </table>
        </fieldset>

    </div>
}