@model ExplorersEarlyLearning.Models.UserLoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Login","Account")) {
    @Html.ValidationSummary(true)
    <div id="sidebar">
        <div class="block entry logon">
            <div>
                <h6 class="title">Sign in</h6>
                 @if (Model.message != null) { 
        <span style="color:red;font-size:14px;">@Model.message</span>
    }
                <div class="common-form">
                    <div class="valid-summary">
                    </div>
                        <p class="field clearfix">
                            @Html.LabelFor(model=>model.UserName)
                            @Html.EditorFor(model => model.UserName)<br />
                            @Html.ValidationMessageFor(model => model.UserName)
                        </p>
                        <p class="field clearfix">
                            @Html.LabelFor(model=>model.Password)
                            @Html.PasswordFor(model => model.Password)<br />
                            @Html.ValidationMessageFor(model => model.Password)
                          
                        </p>
                       <p class="field clearfix">
                            @*<input type="checkbox" id="rememberMe" name="RememberMe" value="True">
                            <input type="hidden" name="RememberMe" value="False">*@
                           @Html.CheckBoxFor(model=>model.RememberMe)
                            <label for="rememberMe" class="inline">Remember Me</label>
                        </p>
                        <p class="buttons clearfix">
                            <button type="submit">Sign in</button>
                            @*or <a href="/Account/Register">Sign up</a>*@
                        </p>
                       @* <p>
                            <a href="/Account/ForgotPassword" style="font-size: 11px;">Forget password?</a>
                        </p>*@
                    
                </div>
            </div>
        </div>
    </div>    
                                          }