@model ExplorersEarlyLearning.Models.UserModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm("Register","Account")) {
    @Html.ValidationSummary(true)
    
    
    if (Model.message != null) { 
        <span style="color:red;font-size:14px;">@Model.message</span>
    }
       
    <div class="common-form" style="display: block;">
        <fieldset>
            <table>
                <tbody>

                    <tr>
                        <th>
                            @Html.LabelFor(model => model.user.UserName)
                            @Html.HiddenFor(model => model.user.UserId)
                        </th>
                        <td>

                            @Html.EditorFor(model => model.user.UserName)
                            @Html.ValidationMessageFor(model => model.user.UserName)

                        </td>
                    </tr>


                    <tr>
                        <th>
                            @Html.LabelFor(model => model.Password)
                        </th>
                        <td>
                            @Html.PasswordFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="Register" />
                        </td>
                    </tr>

                </tbody>
            </table>
        </fieldset>

    </div>
}